[Desktop Entry]
Version=1.0
Type=Application

Name=Settings
Comment=Configure WandererUI

Exec=python apps/settings/main.py
Icon=settings

Terminal=false
StartupNotify=false

Categories=Settings;System;

X-Wanderer-Native=true
X-Wanderer-Runtime=desktop
X-Wanderer-Entry=apps.settings.application:create_settings_application